
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
   --background: rgba(0, 214, 170, 0.85);
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   background: #222;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}

/** End of Header, Nav, Media Queries **/
header {
   background: var(--background);
   padding: 10px;
   text-align: center;
   position: fixed;
   width: 100%;
   z-index: 1000;
}

.logo {
   margin: 0;
}

.nav-toggle {
   display: none;
}

nav {
   position: absolute;
   text-align: left;
   top: 100%;
   left: 0;
   background: var(--background);
   width: 100%;
   transform: scale(1,0);
   transform-origin: top;
   transition: transform 400ms ease-out;
}

nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

nav li {
   margin-bottom: 1em;
   margin-left: 1em;
}

nav a {
   color: white;
   text-decoration: none;
   font-size: 1.2rem;
   text-transform: uppercase;
   opacity: 0;
   transition: opacity 150ms ease-out;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
   opacity: 1;
   transition: opacity 250ms ease-out 300ms;
} 

nav a:hover {
   color: #000;
}

.nav-toggle-label {
   position: absolute;
   top: 0;
   left: 0;
   margin-left: 1em;
   height: 100%;
   display: flex;
   align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
   display: block;
   background: white;
   height: 2px;
   width: 2em;
   border-radius: 2px;
   position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
   content: "";
}

.nav-toggle-label span::before {
   bottom: 7px;
}

.nav-toggle-label span::after {
   top: 7px;
}


.hero {
   background-image: url("https://i.pinimg.com/originals/b5/12/2d/b5122d67268e6af828c9b204319e9986.png");
   width: 100%;
   height: 100vh;
   background-size: cover;
}


@media screen and (min-width: 600px) {
   
   .nav-toggle-label{
      display:none;
   }
   
   header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
   }

   .logo {
      grid-column: 2/3;
   }
   
   nav {
      all:unset;
      grid-column: 3/4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }
   
   nav ul {
      display: flex;
   }

   nav li {
      margin-left: 3em;
      margin-bottom: 0;
   }
   
   nav a {
      opacity: 1;
      position: relative;
   }
  
   nav a::before {
      content: "";
      display: block;
      height: 5px;
      background: black;
      position: absolute;
      bottom: -.5em;
      left: 0;
      right: 0;
      transform: scale(0,1);
      transform-origin: right;
      transition: transform ease-in-out 250ms;
   }
   
   nav a:hover::before {
      transform: scale(1,1);
   }
   
}

section{
   background-color: #fff;
   padding: 100px;
}

/** Media Queries **/
img {
   max-height: auto;
   max-width: auto;
}

.wrapper {
   width: 70%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 10px;
}

.box{
   padding: 10px;
   position: relative; /*you need to set the .box position to relative, not the container. the overlay is in the box class*/
   
}

@media screen and (max-width: 800px){
   .wrapper {
      grid-template-columns: 1fr;
   }      
}

@media screen and (max-width: 400px){
   .wrapper {
      display: block;
      
   }   
}
/** End of Header, Nav, Media Queries **/ 

/** Project/Overlay **/
.container {
   position: relative;
 }
 
 .overlay-image {
   display: block;
   width: 100%;
   height: auto;
 }
 
 .overlay {
   opacity: 85%;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #E9FCFF;
   overflow: hidden;
   width: 100%;
   height: 0;
   transition: .5s ease;
 }
 
 .box:hover .overlay { /*Changed this from .container to box. Again, it's the .box class that has the hover, not the container*/
   height: 50%;
 }
 
 .overlay-text {
   color: black;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
 }
/** End of Projects/overlay **/

/** Footer **/
footer {
   width: 100%;
   padding: 40px 0;
   text-align: center;
   background-color: #e89427;
   object-position: center;
   background: rgba(0, 214, 170, 0.85);
   width: 100%;
}

footer a:link {
   color: #fff;
   text-decoration: none;
   cursor: pointer;
}

footer a:hover {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

footer a:visited {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
/** End of Footer **/